.navbar {
    background: linear-gradient(to right, #27418C, #2168A6, #43AED9, #2BC7D9, #30BFBF);
}

body,
.navbar,
.navbar-expand-lg .navbar-nav .nav-link,
.container text-center {
    color: white;
}

.blue-bg {
    background-color: #8DA4F5; /* Define el color de fondo azul */
    /*padding: 20px; /* Opcional: Añade espacio interno al contenedor */
}
.main-title-container{
    background: linear-gradient(to right, #43AED9, #2BC7D9, #30BFBF);
    -webkit-background-clip: text;
    padding: 30px;
    color: transparent;
    font-weight: bold;
    text-align: center;


    
}
.services-title-container{
    
    background: linear-gradient(to right, #43AED9, #2BC7D9, #30BFBF);
    -webkit-background-clip: text;
    color: transparent;
    padding: 30px;
    
    font-weight: bold;
    text-align: center;
   
     

    
}
/*  
    styles for the container and the container divs allign
*/
.services-container {
    
    display: flex;
    color: white;
}
.services-container div {
    padding: 80px;
    margin-left: 80px;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 40px;
    height: 600px;
    width: 375px;  
    background-size: 750px;
}

/*
    styles for the services divs
*/
.service-1 {


    background: linear-gradient(to right, #43AED9, #2BC7D9, #30BFBF);    
}

.banner-container{
    display: flex;
}

.banner-text-container{
    width: 900px;
    background: #43AED9;
    color: white;
}

.banner-text-container{
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    text-align: center;
}
.banner-text-container h1{

    margin-left: -20px;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;

}


.service-1 img{
    margin-top: -80px;
   margin-left: -80px;
   margin-right: 150px;
   margin-bottom: 40px;
}
.service-2 img{
    margin-top: -80px;
   margin-left: -80px;
   margin-right: 150px;
   margin-bottom: 40px;
 }

 .service-3 img{
    margin-top: -80px;
   margin-left: -80px;
   margin-right: 150px;
   margin-bottom: 40px;
 }
 

.service-2{

    background: linear-gradient(to right, #43AED9, #2BC7D9, #30BFBF);
}
.service-3{

    background: linear-gradient(to right, #43AED9, #2BC7D9, #30BFBF);
}
/*
    styles for the effects on the hover of services divs
*/

.service-1:hover h1 {

    font-size: 250%;
    
}

.service-2:hover h1 {

    font-size: 250%;
    
}

.service-3:hover h1 {

    font-size: 250%;
    
}
.services-container div h1{
    font-size: 35px;
    text-align: center;
    color: white;
}


.whitespace-banner{
    background-color: white;
    height: 20px;
}