@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap'); 


*{
    margin: 0;
    padding: 0 ;
}

header{
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    color:white; 
    text-decoration: none;
    height: 100%;
}


header > .img-container {
   width: 100%;
   
}
.img-container > img{
    width: 80%;
}


.header-nav{

    width: 350%;
    height: 100%;
}


.btn-container{

    width: 100%;
 
}


.btn{

	font-family: 'Roboto', sans-serif;
	font-size: 150%;
	font-weight: bold;
	background: #1577BE ;
	width: 79%;
    height: 70%;
    margin-top: 3%;
	padding: 4%;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: white ;
	border-radius: 4.5%;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	border: none ;
}

.btn:hover, .btn:focus{

	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    color: #1577BE;
    background-color: white;

}


.banner-btn-container{

    width: 100%;
    height: 100%;
    
}


.banner-btn{

	font-family: 'Roboto', sans-serif;
	font-size: 80%;
	font-weight: bold;
	background: #1577BE ;
	width: 60%;
    height: 70%;
    margin-top: 3%;
	padding: 4%;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: white ;
	border-radius: 4.5%;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	border: none ;
}

.banner-btn:hover, .banner-btn:focus{

	
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    color: #1577BE;
    background-color: white;
}


header > nav > ul {
    list-style-type: none;
    display: flex;
    font-family: 'Heebo' ;    
    font-size: 125%;
    align-items: center;
    font-weight: bold;

}

.header-nav-list a {

    margin-left: 5%;
    text-decoration: none;
    color: #3B8FCD;

}

.header-nav li  {
   
    font-size: 200%;
}

.banner-container{

    width: 100%;
    height: 100%;
    position: relative;
}

.banner-img{
    width: 100%;
    height: 40%;
}

.banner-img-secondary{

    position: absolute;
    width: 40%;
    margin-top: 0%;
    margin-left: -45%;
    margin-top: 5%;
    border-radius: 30px;
}

.value-proposition-text {

    position: absolute;
    width: 40%;
    margin-top: -45%;
    margin-left: 5%;
    color: white;
    font-weight: bold;
    font-family: 'Heebo', 'sans-serif'; 
    font-size: 200%;

}

.value-proposition-text > p{
    margin-top: 4%;
    font-size: 60%;
}
.custom-shape-divider-bottom-1711529400 {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: 0%;
}

.custom-shape-divider-bottom-1711529400 svg {
    position: relative;
    display: block;
    width: calc(171% + 1.3px);
    height: 277px;
}

.custom-shape-divider-bottom-1711529400 .shape-fill {
    fill: #FFFFFF;
}