/*Configuración general para eliminar el padding y margin de la página completa*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/*Conversión para utilizar rem en lugar de px*/
/*1 rem = 10px*/ /*1.6rem  = 16px*/
html{
    font-size: 62.5%;
}
/*Colores*/
:root {
    --azul-header: rgb(0, 41, 88);
    --azul-navegador: rgb(0,80,173);
    --azul-main: rgb(132,169,207);
    --blanco: rgb(255,255,255);
}

/*Eliminación del scroll horizontal de la página*/
body{
    overflow-x: hidden;
}

/*Header*/
header{
    width: 100%;
    height: 10vh;
    background-color: var(--azul-header);
}
.contenedorHeader{
    padding-right: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    gap: 2%;
}
.headerItem{
    transition: transform 0.3s ease;
    list-style: none;
}
.headerItem a{
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    gap: 4%;
    text-decoration: none;
    color: var(--blanco);
}
.icons{
    width: 4rem;
    height: 4rem;
}

.headerItem:hover{
    transform: scale(1.1); /* Escalamos el elemento en un 10% */
    border-style: solid;
    border-color: var(--azul-main);
    border-radius: 10%;
    background-color: var(--azul-main);
}

/*Navegador*/
nav{
    width: 100%;
    height: 15vh;
    background-color: var(--azul-navegador);
    display: flex;
    align-items: center;
}
.contenedorNavegador{
    padding-right: 3%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
}
.contenedorLogo{
    margin-left: 3%;
    width: 20%;
    height: 100%;
}
.contenedorLogo img{
    object-fit: cover;
    width: 15rem;
    height: 10rem;
}
.navegadorItem{
    transition: transform 0.3s ease; /* Transición para la propiedad 'transform' con duración de 0.3 segundos y función 'ease' */
    list-style: none;
}
.navegadorItem a{
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    gap: 4%;
    text-decoration: none;
    color: var(--blanco);
}
.navegadorItem img{
    width: 100%;
    height: 100%;
}

.navegadorItem:hover{
    transform: scale(1.1); /* Escalamos el elemento en un 10% */
    border-style: solid;
    border-color: var(--azul-main);
    border-radius: 10%;
    background-color: var(--azul-main);
}

/*Slider Gallery*/
.slider{
    display: flex;
    width: 100%;
    height: 55vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.slider img{
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}

/*Main*/
main{
    width: 100%;
    height: auto;
    color: var(--azul-header);
    background-color: var(--azul-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}
main h2{
    margin-top: 3.5%;
}
.serviciosContenedor{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
}
.servicioItem{
    min-width: 25rem;
    max-width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
}
.cuadrado{
    width: 30rem;
    height: 30rem;
    background-color: var(--blanco);
    border-color: var(--blanco);
    border-radius: 5%;
    display: flex;
    justify-content: center;
}
.textoContenedor{
    width: 50%;
    height: 50%;
    word-wrap: break-word;
}

/*Footer*/
footer{
    background-color: var(--blanco);
    width: 100%;
    height: 10vh;
}
.contenedorFooter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
}
.footerItem{
    list-style: none;
}