<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>servlet.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistraReservacion</servlet-name>
        <servlet-class>servlet.RegistraReservacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarReservacion</servlet-name>
        <servlet-class>servlet.RegistraReservacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>servlet.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarUsuario</servlet-name>
        <servlet-class>servlet.ConsultarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarUsuario</servlet-name>
        <servlet-class>servlet.ActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarSolicitud</servlet-name>
        <servlet-class>servlet.ActualizarSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarSolicitud</servlet-name>
        <servlet-class>servlet.EliminarSolicitud</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/nuevousuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistraReservacion</servlet-name>
        <url-pattern>/registraresevacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarReservacion</servlet-name>
        <url-pattern>/registraReservacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarUsuario</servlet-name>
        <url-pattern>/ConsultarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarUsuario</servlet-name>
        <url-pattern>/ActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarSolicitud</servlet-name>
        <url-pattern>/ActualizarSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarSolicitud</servlet-name>
        <url-pattern>/EliminarSolicitud</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
